* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .content {
    width: 100%;
    max-width: 1540px;
    margin: 10px auto;
    padding: 20px;
    background-image: url("https://cdn.crowdpic.net/detail-thumb/thumb_d_EC65D8D860ED7BF8C914F4A155B7E1AC.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(87, 85, 85);
  }
  .image{
    background-image: url("eunseok.jpg");
    background-size: cover;
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
  }
  .rd image{
    position: fixed; 
    right : 10px;
    bottom:10px
    url("eunseok.jpg")
  }
  .header {
    padding: 20px;
    font-size: 0;
    font-weight: 700;
  }
  
  .header-information {
    display: inline-block;
    width: calc(100% - 250px);
    font-size: 20px;
  }
  
  .name {
    width: 100%;
    font-size: 60px;
    margin: 0 0 20px 0;
  }
  
  
  .detail {
    display: inline-block;
    margin-right: 50px;
    font-size: 32px;
  }
  
  .columns {
    font-size: 0;
  }
  
  .column {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    font-size: 24px;
  }
  
  .column-one {
    width: 50%;
  }
  
  .column-two {
    width: 40%;
  }
  
  
  .row {
    font-size: 36px;
    font-weight: 700;
  }
  
  .row-title {
    margin: 0;
    font-size: 40;
    color: #034694;
    padding-bottom: 5px;
    border-bottom: 5px solid #034694;
  }
  
  .cube {
    animation: rotate 7000ms linear infinite;
    bottom: 0.5;
    height: 100px;
    left: 0px;
    margin: auto;
    position: absolute;
    transform-style: preserve-3d;
    right: 0;
    top: 0;
    width: 100px;
    line-height: 98px;
  }
  
  @keyframes rotate {
    100% {
      transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
    }
  }
  .face {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .front {
    background: rgb(200, 213, 228);
    transform: translateZ(50px);
  }
  .back {
    background: rgb(200, 210, 218);
    transform: translateZ(-50px);
  }
  .left {
    background: rgb(200, 203, 207);
    transform: translateX(-50px) rotateY(90deg);
  }
  .right {
    background: rgb(200, 215, 200);
    transform: translateX(50px) rotateY(90deg);
  }
  .top {
    background: rgb(200, 209, 210);
    transform: translateY(-50px) rotateX(90deg);
  }
  .bottom {
    background: rgb(200, 207, 212);
    transform: translateY(50px) rotateX(90deg);
  }